.facilitiesMap
    position: relative
    &__text,&__overlays
        position: absolute
        width: 100%
        height: 100%
        z-index: 120
    &__overlays
        z-index: 121
        .hotspot
            z-index: 123
            position: absolute
            width: 1.25%
            opacity: .75
            cursor: pointer
            transition: all .25s ease-out
            &.is-active
                opacity: 1
            @media screen and ( min-width: $tablet )    
                &:hover
                    opacity: 1
        .popup
            position: absolute
            
            opacity: 0
            transition: opacity .3s ease-out
            z-index: 122
            left: -100%
            transform: translateX(-100vw)
            &.is-active
                opacity: 1
                z-index: 124
            &__name
                color: $maroon
                font-size: 30px
                font-weight: 500
                font-family: $font-heading
                padding: 0 30px
                padding-bottom: 5px
            &__box
                width: 300px
                min-height: 200px
                background-color: rgba($maroon,1) 
                display: flex
                flex-direction: column
                justify-content: flex-start
                color: white
                padding: 0
                position: relative
            &__navs
                left: 50%
                top: calc(300px - 40px)
                transform: translateX(-50%)
                width: calc(100% - 60px)
                
                position: absolute
                display: flex
                align-items: center
                justify-content: space-between
                margin-bottom: 20px
                img
                    filter: brightness(100)
                    cursor: pointer
                    &.next
                        transform: rotate(180deg)
                .position
                    letter-spacing: 3px
            .slide
                &__img
                    position: relative
                    width: 300px
                    height: 300px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                        position: relative
                    &__overlay
                        position: absolute
                        background: transparent linear-gradient(180deg, #58293100 20%, $maroon 95%) 0% 0% no-repeat padding-box
                        width: 100%
                        height: 105%
                        top: 0
                        left: 0
                &__title
                    font-family: $font-heading
                    font-weight: 500
                    font-size: 20px
                    margin-top: 0
                    margin-bottom: 10px
                    padding: 10px 30px 0px
                    
                &__content
                    padding: 0px 30px 20px
            @media screen and ( max-width: $tablet )
                padding: 20px 20px
                max-width: 50vw
                .title
                    font-size: 20px    
                .content
                    font-size: 13px                

    &__bg
        width: 100%
        height: 100%
        z-index: 110

    #facilityVirtualTourBtn
        position: absolute
        width: 12.7%
        top: 13%
        left: 3%
        transition: all .25s ease-out
        cursor: pointer
        z-index: 122
        &:hover
            transform: scale(1.1)